include ../form-label/form-label
include ../form-input/form-input

mixin form-datepicker(obj)
    -
        var range = obj.range ? obj.range : false;
        var filterDate = obj.filterDate ? obj.filterDate : false;
        var onlyCard = obj.onlyCard ? obj.onlyCard : false;
        var label = obj.label ? obj.label : '';
        var labelFrom = obj.labelFrom ? obj.labelFrom : label;
        var labelTo = obj.labelTo ? obj.labelTo : '';
        var values = obj.values ? obj.values : [];
        
        var inputFromValue = values[0] ? values[0] : '';
        var inputToValue = values[1] ? values[1] : '';
        var valuesStr = values.join(',');

    .form-datepicker
        if filterDate
            +form-label({text: label})
            .form-datepicker__input-range-container(
                data-date-format="dd M", 
                data-range='true',
                data-values=valuesStr
            )
                if !onlyCard
                    +form-input({iconID: 'expand_more', value: inputValue})
        else
            .form-datepicker__input-container
                .form-datepicker__input-from(
                    data-date-format="dd.mm.yyyy",
                    data-values=inputFromValue
                )
                    +form-label({text: labelFrom})
                    +form-input({placeholder: 'ДД.ММ.ГГГГ', iconID: 'expand_more', value: inputFromValue})
                .form-datepicker__input-to(
                    data-date-format="dd.mm.yyyy",
                    data-values=inputToValue
                )
                    +form-label({text: labelTo})
                    +form-input({placeholder: 'ДД.ММ.ГГГГ', iconID: 'expand_more', value: inputToValue})
