include ../form-label/form-label

mixin form-input(obj)
    - 
        var type_attr = obj.type ? obj.type : 'text';
        var modeClass = obj.mode ? ` form-input_mode_${obj.mode}` : '';
        var iconID = '';
        var disabled = false;
        var dropdownElems = [];
        var maskAttr = '';
        var dropdownInputText = obj.dropdownInputText ? obj.dropdownInputText : '';

        switch(obj.mode){
            case 'subscription':
                type_attr = 'email';
                iconID = 'arrow_forward';
                break;
            case 'dropdown':
                type_attr = 'text';
                iconID = 'expand_more';
                disabled = true;
                dropdownElems = obj.dropdownElems;
                break;
            case 'mask':
                type_attr = 'text';
                maskAttr = obj.mask ? obj.mask : '';
                break;
            default: break;
        }
        var placeholder = obj.placeholder ? obj.placeholder : '';
        var label = obj.label ? obj.label : '';
        var hint = obj.hint ? obj.hint : '';
        var value = obj.value ? obj.value : '';

    div(class='form-input'+modeClass)
        +form-label({text: label, hint: hint})
        .form-input__container(data-text=dropdownInputText)
            input.form-input__input(type= type_attr, placeholder= placeholder, value= value, disabled=disabled, mask=maskAttr)
            if iconID
                i.material-icons.form-input__icon= iconID
            if dropdownElems.length
                .form-input__dropdown-elems-container
                    each item in dropdownElems
                        .form-input__dropdown-elem
                            .form-input__dropdown-elem-title= item.title
                            .form-input__dropdown-elem-control
                                input.form-input__dropdown-elem-input(
                                    type='text', 
                                    disabled=true,
                                    value=item.count ? item.count : 0,
                                    name=item.name
                                )
                                button.material-icons.form-input__dropdown-elem-minus remove
                                button.material-icons.form-input__dropdown-elem-plus add
                    if obj.dropdownApplyBtn || obj.dropdownClearBtn
                        .form-input__dropdown-buttons-containers
                            obj.dropdownApplyBtn
                                button.form-input__dropdown-clear Очистить
                            obj.dropdownClearBtn
                                button.form-input__dropdown-apply Применить