include ../form-label/form-label

mixin range-slider(options)
    - 
        var label = options.label ? options.label : 'Range slider';
        var min = options.min ? +options.min : 0;
        var max = options.max ? +options.max : 20000;
        var startValue = options.startValue ? +options.startValue : 0;
        var endValue = options.endValue ? +options.endValue : max;
        var step = options.step ? +options.step : 100;
        var description = options.description ? options.description : '';

    .slider-range
        .slider-range__label-wrapper
            +form-label({text: label, hint: `${startValue} - ${endValue}₽`})
        .slider-range__slider(
            data-min=min, 
            data-max=max,
            data-step=step,
            data-start-value=startValue, 
            data-end-value=endValue
        )
        if description.length
            .slider-range__description= description